{% extends 'base/base.html' %}

{% block content %}
<div class="container mt-5" style="max-width: 400px;">
    <h3 class="mb-4 text-center">Login</h3>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, msg in messages %}
          <div class="alert alert-{{ category }}">{{ msg }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method="POST">
        <div class="mb-3">
            <label>Email</label>
            <input type="email" class="form-control" name="email" required>
        </div>
        <div class="mb-3">
            <label>Password</label>
            <input type="password" class="form-control" name="password" required>
        </div>
        <button class="btn btn-primary w-100">Login</button>
    </form>
</div>
{% endblock %}
